*.user
credentials.h
/onviflibs/gsoap/gsoap-2.8/gsoap/doc
/onviflibs/gsoap/gsoap-2.8/gsoap/samples
/onviflibs/gsoap/gsoap-2.8/gsoap/ios_plugin/examples
build-*
moc_*
*.o
config.ini
*.so
*.so.*
AudioService/AudioService
CoreService/CoreService
RS485RelayService/RS485RelayService
MCP23017InputService/MCP23017InputService
ShutterService/ShutterService
WBB12Service/WBB12Service
RS485EnergyMeterService/RS485EnergyMeterService
Makefile
.qmake.stash
/AndroidApp/app/google-services.json
