[Unit]
Description=OSH Shutter Service
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target postgresql.service CoreService.service RS485RelayService_shutters.service

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
#Type=forking
Type=simple
Restart=on-failure
RestartSec=5s

WorkingDirectory=/etc/osh/ShutterService_eg

#User=root

## here we can set custom environment variables
ExecStart=/etc/osh/ShutterService_eg/start.sh
ExecStop=/etc/osh/ShutterService_eg/stop.sh

# Useful during debugging; remove it once the service is working
#StandardOutput=file:/var/log/osh_shutter_service_eg.log
#StandardError=syslog

[Install]
WantedBy=multi-user.target
