[Unit]
Description=OSH Check Thumbnails 2

[Service]
Type=oneshot
WorkingDirectory=/etc/osh
ExecStart=/bin/bash /etc/osh/deploy/rpi/Services/CameraThumbnails2/checkThumbnails.sh
