[Unit]
Description=OSH RS485Relay Service
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target dev-tty_allRelays1.device

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
#Type=forking
Type=simple
Restart=on-failure
RestartSec=5s

WorkingDirectory=/etc/osh/RS485RelayService

#User=root

## here we can set custom environment variables
ExecStart=/etc/osh/deploy/rpi/Services/RS485RelayService/start.sh
ExecStop=/etc/osh/deploy/rpi/Services/RS485RelayService/stop.sh

# Useful during debugging; remove it once the service is working
#StandardOutput=file:/var/log/osh_rs485_relay_service.log
#StandardError=syslog

[Install]
WantedBy=multi-user.target
