[Unit]
Description=OSH Core Service
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
#Type=forking
Type=simple

WorkingDirectory=/home/pi/osh/CoreService

## here we can set custom environment variables
ExecStart=/home/pi/osh/deploy/rpi/CoreService/start.sh
ExecStop=/home/pi/osh/deploy/rpi/CoreService/stop.sh

# Useful during debugging; remove it once the service is working
StandardOutput=file:/var/log/osh_core_service.log
StandardError=syslog

[Install]
WantedBy=multi-user.target
