SUBSYSTEM=="tty", KERNELS=="1-1.4.3", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="tty_mainEnergyMeter", MODE="0666", GROUP="dialout", TAG+="systemd"
