[Unit]
Description=OSH Check Thumbnails

[Service]
Type=oneshot
WorkingDirectory=/etc/osh
ExecStart=/bin/bash /etc/osh/deploy/rpi/Services/CameraThumbnails/checkThumbnails.sh
